<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue - Test</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class ="header">
        <h1>Learning Vue and scripting</h1>
    </div>
    <div>
        <h2>Basic Vue Examples</h2>
        <div id="app">
            <span v-bind:title="load">{{ message | capitalize }}</span>
            <!-- Short hand version 'v-bind' -->
            <span :title="load">{{ message | capitalize }}</span>

        </div> <!-- Simple texts and filters -->
        <div id="app2">
            <p v-if="visible">Now you see me!</p>
            <p v-else>Now you don't!</p>
            <button v-on:click="toggle">{{ buttonText }}</button>
            <!-- Short hand version 'v-on' -->
            <button @click="toggle">{{ reversedButtonText }}</button>


            <br/>
            <!-- v-show uses CSS display while v-if properly destroys
             Generally speaking, v-if has higher toggle costs while v-show has higher initial render costs.
             So prefer v-show if you need to toggle something very often, and prefer v-if if the condition is
             unlikely to change at runtime. -->
            <button @click="RNGJesus">Let RNG roll :D!</button>
            <p>Vue tries to re-render minimal content, the input field will not clear used content unless a key
            attribute us specified to explicitly declare uniqueness</p>
            <template v-if="RNG === 0">
                <p>Template conditional 0, "filtered wrapper"</p>
                <input placeholder="Reused by Vue">
            </template>
            <template v-else-if="RNG === 1">
                <p>Template conditional 1, "filtered wrapper"</p>
                <input placeholder="Minimal re-render">
            </template>
            <template v-else>
                <p>Template conditional 2, "filtered wrapper"</p>
                <input placeholder="user content stored">
            </template>
        </div> <!-- conditionals & buttons -->
        <div id="app3" v-bind:class="classObject">
            <!-- v-bind on class attribute, sets classes on the fly
                 can be defined in-line or as object                -->
            <div v-bind:class="{active : isActive, checker : checker}">

                <!-- v-bind on style attribute, both inline and as objects,
                multiple objects can be added as an array-->
                <ol v-bind:style="{color: activeColor, fontSize: fontSize + 'px'}">
                    <p>Below you can find the needed steps to success:</p>
                    <!-- template can be used on v-for as well -->
                    <li v-bind:style="styleObject" v-for="(todo, index) in todoArray">
                        {{ starterMessage }} - {{ index }} - {{ todo.text }}
                    </li>
                    <p>Contents of the styleObject:</p>
                    <li v-for="(value, key, index) in styleObject">
                        {{ key }} - {{ value }} - {{ index }}
                    </li>
                </ol>
            </div>
        </div> <!-- styles, classes & for-loops -->
        <div id="app4">
            <p> {{ message }}</p>
            <p v-once>v-once: {{ message }}</p>
            <input v-model = 'message'/>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app5">
            <p> {{ firstName }}</p>
            <p> {{ lastName }}</p>
            <p> {{ fullName }}</p>
            <input v-model = 'firstName'/>
            <p> {{ fullName2 }} with setters and getters</p>
            <input v-model = 'fullName2'/>
        </div>
        <div id="Watcher">
            <p>
                Ask a Yes/No question:
                <input v-model="question"/>
            </p>
            <p>{{ answer }}</p>
        </div>
    </div>

    <div>
        <h1> <a href="BasicJS.html">Go to JS basics</a></h1>
    </div>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>